@import '~bootstrap/dist/css/bootstrap';
@import '~flag-icon-css/css/flag-icons';

/* Estilos para el botón "Iniciar Sesión" */
.navbar .btn {
    background-color: rgb(74, 180, 74);
    color: #fff;
    border-color: rgb(74, 180, 74);
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
  
  .navbar .btn:hover {
    color: #fff;
    scale: 1.1;
}

.logo {
    color: rgb(74, 180, 74);
    font-size: 2em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
  
.logo:hover {
    color: rgb(74, 180, 74);
    scale: 1.1;
}

.item_nav {
    color: azure;
    font-size: 1.4em;
    transition: all 0.3s ease-in-out;
}
  
.item_nav:before {
    display: none;
}

.item_nav:hover {
    color: azure;
    scale: 1.1;
}

.link-style {
    text-decoration: none;
    color: azure;
}

body{
    background-color: #eceff1;
}

.show-card{
    border: 1.5px;
    border-radius: 15px;
    background-color: white;
}

.show-img{
    border-radius: 15px;
}

.title{
    font-size: 30px;
}
.description{
    font-size: 20px;
}
.by{
    font-size: 20px;
}
.pill-category{
    font-size: 15px;
    color: #007bff;
    border: 1px #007bff solid;
    border-radius: 25px;
    font-weight: 400;
    text-decoration: none;
}

.price{
    font-size: 35px;
    font-weight: 500;
}

.fa-whatsapp{
    font-size: 20px;
}

.btn-success {
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}
  
.btn-success:hover {
    scale: 1.1;
}

.btn-primary {
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}
  
.btn-primary:hover {
    scale: 1.1;
}

.welcome{
    font-weight: 100;
}

.social-media{
    font-size: 30px;
    margin-top: 4vh;
    margin-bottom: 3vh;
    color: azure;
}

.up-page{
    font-size: 4vh;
    padding: 1vh;
    border: 2px outset #007bff;
    color: #007bff;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

footer{
    letter-spacing: 1px;
}

